form {
  background-color: #212121;
  width: 40%;
  margin-left: 30%;
}
img {
  width: 20%;
  margin-left: 40%;
  margin-top: 100px;
}
h1 {
  color: white;
  font-size: 30px;
  text-align: center;
}
p {
  color: #979797;
  font-size: 17px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
fieldset {
  width: 50%;
  margin-left: 25%;
  color: #979797;
  border-radius: 10px;
  margin-top: 20px;
}
select,
#phone_number {
  width: 100%;
  border: 1px solid transparent;
  height: 25px;
  background-color: transparent;
  color: white;
  font-size: 17px;
}
.box {
  /* border: 1px solid white; */
  width: 45%;
  margin-left: 27.5%;
  margin-top: 20px;
  font-size: 17px;
  color: white;
}

button {
  width: 30%;
  margin-left: 35%;
  font-size: 15px;
  margin-top: 30px;
  color: #685ca8;
  background-color: transparent;
  border: none;
  margin-bottom: 100px;
}
